@font-face {
  font-family: "wotfard";
  src: url("Wotfard-Regular.otf");
}

:root {
  font-family: "wotfard";
}

.note-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10%;
}

.note-container div {
  display: flex;
  gap: 10px;
  border: 1px solid black;
}

.note-container div span{
  width: 50%;
  border: 1px solid black;
}

.note-container div span:first-child {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}
